img.personaje, img.castillo, img.lugar {
  display: block;
  float: left;
  width: 4cm;
  height: 4cm;
  padding: 0.05cm;
  border-style: dashed;
  border-width: 1px;
  border-color: #AAA;
  margin: 0;
}
img.recurso {
  display: block;
  float: left;
  width: 2cm;
  height: 2cm;
  padding: 0.05cm;
  border-style: dashed;
  border-width: 1px;
  border-color: #AAA;
  margin: 0;
}
div {
  padding: 0;
  margin: 0;
}
@media print {
  img {
    page-break-inside: avoid;
  }
}

